Source: sigterm
Section: x11
Priority: optional
Maintainer: Christian Hofstaedtler <christian@hofstaedtler.name>
Build-Depends: debhelper (>= 4.0.0), cmake (>= 2.4.3), libfaad2-dev (>= 2.0.0+cvs20060416-0.1), libflac-dev, libqt4-dev, libsdl1.2-dev, g++ (>= 4.0.0), libvorbis-dev, libogg-dev, libmad0-dev, libid3tag0-dev
Standards-Version: 3.6.2

Package: sigterm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a new music player based on QT
 featuring FLAC, OggVorbis and AAC playback

